    /* Smartphones (portrait and landscape) ----------- */
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		/* Styles */
			.head_title h2 {
				font-size: 24px;
				font-weight: 700;
				line-height: 30px;
				margin-bottom: 15px;
			}
			.head_title h5 {
				font-size: 14px;
				line-height: 16px;
				font-weight: 600;
			}
			img.img-fluid.myappleimg {
				width: 200px;
			}
			.sideimg {
				position: absolute;
				top: -6px;
				z-index: 9999;
				bottom: 0px;
				display: none;
				left: -52px;
			}
			.sideimg2 {
				position: absolute;
				z-index: 22;
				bottom: 0px;
				display: none;
				right: -135px;
			}
			.head_title img {
				width: 90px;
			}
			.mobile-app {
				z-index: 150000;
				position: relative;
				top: 30px;
				text-align: center;
			}
			.head_title {
				text-align: center;
			}
			.serivcetext {
				padding: 30px;
			}
			.servicesection {
				display: block;
				overflow: hidden;
				margin: 0;
			}
			.serivcetext h3 {
				font-size: 25px;
				font-weight: 800;
				line-height: 35px;
			}
			.serivceimage {
				padding: 20px;
			}
			.col.footermobilimage {
				display: none;
			}
			.top_footer {
				background: #C9EEFB;
				display: block;
				z-index: 1;
				margin: 0px;
			}
			.top_footer_content h2 {
				font-size: 30px;
				font-weight: 700;
				line-height: 45px;
			}
			.top_footer_content p {
				font-size: 14px;
				font-weight: 400;
				line-height: 25px;
			}
			.footerpart {
				display: block;
				overflow: hidden;
				margin: 0px;
				padding: 20px 0px;
			}
			.col-md-6.footermenu.text-right {
				text-align: left !important;
				margin: 0px;
				padding: 0px 5px;
			}
			.footernavbar {
				padding: 10px 0px;
			}
			.footernavbar ul {
				display: none;
			}
			.socialmedia ul li {
				list-style: none;
				display: inline-block;
				padding: 0 5px;
				margin: 0px;
			}
			.footerlogo {
				text-align: center;
			}
			.footerlogo img {
				width: 250px;
			}
			.socialmedia ul {
				text-decoration: none;
				display: block;
				text-align: center;
			}

			/* About page responsive */
			.rightshape {
				position: relative;
				left: 0px;
				bottom: 0px;
				top: -65px;
				display: none;
			}
			.leftshape img {
				width: 400px;
				position: absolute;
				left: -75px;
				display: none;
			}
			.teambox {
				background: white;
				padding: 30px;
				overflow: hidden;
				margin-bottom: 80px;
				width: 300px;
			}
			.about_img {
				background-image: linear-gradient(#ffffff7a, #ffff0000), url(../images/bg/aboutBG.png);
				background-repeat: no-repeat;
				background-size: cover;
				position: relative;
				height: 415px;
				overflow: hidden;
			}

			/* Service page */
			.servicebox img {
				width: 120px;
				text-align: center !important;
				margin-bottom: 20px;
			}
			.servicebox {
				background: black;
				color: white;
				padding: 20px;
				text-align: center;
				margin-bottom: 20px;
			}
			.serviceleft h2 {
				font-size: 30px;
				font-weight: 800;
				line-height: 35px;
			}
			.serviceleft img {
				margin-bottom: 20px;
			}
			.serviceleft {
				text-align: center;
			}
			.servicebox2 img {
				width: 120px;
			}
			.servicebox2 {
				background: #00AEEF;
				color: white;
				padding: 20px;
				margin-bottom: 20px;
			}
			.servicebox3 img {
				width: 120px;
			}
			.servicebox3 {
				background: #495964;
				color: white;
				padding: 20px;
			}
			.stepbox1 {
				background: #0FB3F1;
				padding: 35px;
				color: white;
				border-radius: 15px;
			}
			.stepbox1 img {
				position: absolute;
				top: -150%;
				bottom: 0px;
				display: none;
			}
			.stepbox2 {
				background: black;
				padding: 20px;
				color: white;
				border-radius: 15px;
			}
			.stepbox2 img {
				position: absolute;
				top: -115%;
				bottom: 0px;
				display: none;
			}

			/* Faqs page */
			.tab h4 {
				color: white;
				text-align: center;
				padding: 20px 0px;
				font-size: 14px;
			}
			.tab button {
				display: block;
				background-color: inherit;
				color: #f7f7f7;
				padding: 5px 5px;
				width: 100%;
				border: none;
				outline: none;
				text-align: left;
				cursor: pointer;
				transition: 0.3s;
				font-size: 10px;
			}
			.tabcontent {
				float: left;
				padding: 0px 30px;
				width: 70%;
				border-left: none;
				height: 300px;
				font-size: 12px;
			}
			.tabcontent h3 {
				font-size: 16px;
			}

		}


		
		/* Surface Duo (portrait) ----------- */
		@media only screen and (min-device-width : 540px) and (max-device-width : 720px) {
		/* Styles */
			.head_title h2 {
				font-size: 35px;
				font-weight: 800;
				line-height: 40px;
				margin-bottom: 20px;
			}
			.head_title {
				display: block;
				text-align: center !important;
			}
			img.img-fluid.myappleimg {
				width: 185px;
			}
			.mobile-app {
				z-index: 99;
				position: relative;
				top: 30px;
				text-align: center;
			}
			.sideimg2 img {
				width: 395px;
				position: relative;
				top: -25px;
			}
			.sideimg img {
				width: 230px;
			}

			.sideimg {
				position: absolute;
				top: -65px;
				z-index: 9999;
				bottom: 0px;
				display: table;
				left: -52px;
			}
			.singlserivce {
				margin: 0;
			}
			.serivcetext {
				padding-left: 5.2%;
				padding-right: 20px;
			}
			.serivceimage {
				padding: 0px 25px;
			}
			.col.footermobilimage {
				display: none;
			}
			.top_footer {
				background: #C9EEFB;
				display: block;
				z-index: 1;
				margin-top: 0px;
			}
			.footerpart {
				display: block;
				overflow: hidden;
				margin: 10px;
			}
			.footerlogo {
				text-align: center;
				padding: 10px 0px;
			}
			.footernavbar ul {
				display: block;
				text-align: center;
				padding: 10px 0px;
			}
			.socialmedia ul {
				text-decoration: none;
				display: block;
				text-align: center;
				padding: 10px 0px;
			}
			.col-md-6.footermenu.text-right ul {
				text-align: left;
				padding: 0px;
				margin: 0px;
			}
			.footermenu ul li a {
				text-align: left;
				color: #18191F;
				padding: 0px;
				margin: 0px;
			}
			.col.foottopapps {
				text-align: center;
			}
			/* About page */
			section.our_teams {
				display: block;
				background: #C9EEFC;
				padding: 100px 0px;
				overflow: hidden;
			}
			.rightshape img {
				width: 275px;
				position: absolute;
				right: -200px;
			}
			.leftshape img {
				width: 250px;
				position: absolute;
				left: 0px;
				top: 50px;
			}
			.teambox {
				background: white;
				padding: 30px;
				overflow: hidden;
				margin-bottom: 80px;
				width: 380px;
			}

			/* service page  */
			.servicebox img {
				width: 120px;
				text-align: center !important;
				margin-bottom: 20px;
			}
			.servicebox {
				background: black;
				color: white;
				padding: 20px;
				text-align: center;
				margin-bottom: 20px;
			}
			.serviceleft h2 {
				font-size: 30px;
				font-weight: 800;
				line-height: 35px;
			}
			.serviceleft img {
				margin-bottom: 20px;
			}
			.serviceleft {
				text-align: center;
			}
			.servicebox2 img {
				width: 120px;
			}
			.servicebox2 {
				background: #00AEEF;
				color: white;
				padding: 20px;
				margin-bottom: 20px;
			}
			.servicebox3 img {
				width: 120px;
			}
			.servicebox3 {
				background: #495964;
				color: white;
				padding: 20px;
			}
			.stepbox1 {
				background: #0FB3F1;
				padding: 35px;
				color: white;
				border-radius: 15px;
			}
			.stepbox1 img {
				position: absolute;
				top: -150%;
				bottom: 0px;
				display: none;
			}
			.stepbox2 {
				background: black;
				padding: 20px;
				color: white;
				border-radius: 15px;
				margin: 0px;
			}
			.stepbox2 img {
				position: absolute;
				top: -115%;
				bottom: 0px;
				display: none;
			}
			/* Faqs page */
			.tab h4 {
				color: white;
				text-align: center;
				padding: 20px 0px;
				font-size: 14px;
			}
			.tab button {
				display: block;
				background-color: inherit;
				color: #f7f7f7;
				padding: 5px 5px;
				width: 100%;
				border: none;
				outline: none;
				text-align: left;
				cursor: pointer;
				transition: 0.3s;
				font-size: 10px;
			}
			.tabcontent {
				float: left;
				padding: 0px 30px;
				width: 70%;
				border-left: none;
				height: 300px;
				font-size: 12px;
			}
			.tabcontent h3 {
				font-size: 16px;
			}
			


		}
		
		
		/* iPads (portrait and landscape) ----------- */
		@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
		/* Styles */
			.head_title h2 {
				font-size: 30px;
				font-weight: 900;
				line-height: 40px;
				margin-bottom: 20px;
			}
			.sideimg {
				position: absolute;
				top: 75px;
				z-index: 9999;
				bottom: 0px;
				display: table;
				left: -52px;
			}
			.sideimg2 img {
				width: 450px;
				position: relative;
				top: 80px;
			}
			.mobile-app {
				z-index: 99;
				position: relative;
				top: 140px;
			}
			.serivcetext {
				padding-left: 3.2%;
				padding-right: 3%;
			}
			.serivcetext h3 {
				font-size: 25px;
				font-weight: 700;
				line-height: 40px;
			}
			img.img-fluid.mr-2.footerphone1 {
				position: absolute;
				top: -100px;
				display: block;
				right: 208px;
			}
			.top_footer {
				background: #C9EEFB;
				display: block;
				z-index: 1;
				margin-top: 80px;
			}

			img.img-fluid.mr-2.footerphone1 {
				position: absolute;
				top: -100px;
				display: block;
				right: 208px;
			}
			img.img-fluid.footerphone2 {
				position: relative;
				left: 140px;
				bottom: -40px;
				display: block;
			}
			.col.footermobilimage img {
				width: 150px;
			}
			.footernavbar ul li {
				list-style: none;
				display: inline;
				padding: 0px 2px;
			}
			.socialmedia {
				display: none;
			}
			.sideimg img {
				width: 300px;
			}

			/* About page responsive */
			section.our_teams {
				display: block;
				background: #C9EEFC;
				padding: 100px 0px;
				overflow: hidden;
			}
			.rightshape img {
				width: 225px;
				position: absolute;
				right: -90px;
			}
			.teambox {
				background: white;
				padding: 35px;
				overflow: hidden;
				width: 330px;
				margin-bottom: 20px;
			}

			/* Service us page */
			.serviceleft h2 {
				font-size: 20px;
				font-weight: 800;
				line-height: 25px;
			}
			.servicebox {
				background: black;
				color: white;
				padding: 25px;
			}
			.servicebox h5 {
				color: white;
				font-size: 14px;
				padding: 0;
			}
			.servicebox p {
				font-size: 12px;
				padding: 0;
			}
			.servicebox2 {
				background: #00AEEF;
				color: white;
				padding: 20px;
			}
			.servicebox2 h5 {
				color: white;
				padding: 0px 0px;
				font-size: 14px;
			}
			.servicebox2 p {
				font-size: 12px;
				padding: 0px 0px;
			}
			.servicebox3 {
				background: #495964;
				color: white;
				padding: 20px;
			}
			.servicebox3 h5 {
				color: white;
				padding: 0px 0px;
				font-size: 14px;
			}
			.servicebox3 p {
				font-size: 12px;
				padding: 0px 0px;
			}
			.stepbox1 {
				background: #0FB3F1;
				padding: 20px;
				margin: 95px 0px;
				color: white;
				border-radius: 15px;
			}
			.stepbox1 img {
				position: absolute;
				top: -60%;
				bottom: 0px;
				display: block;
				left: -20%;
			}
			.stepbox2 {
				background: black;
				padding: 20px;
				margin: 90px 0px;
				color: white;
				border-radius: 15px;
			}
			.stepbox2 img {
				position: absolute;
				top: -60%;
				bottom: 0px;
				display: block;
			}
			

		}
		
		/* iPad pro (landscape) ----------- */
		@media only screen and (min-width: 1024px) and (orientation: portrait) {
			.sideimg img {
				width: 280px;
			}

		 .sideimg2 img {
			width: 560px;
			position: relative;
			top: -25px;
		}

		.serivcetext {
			padding-left: 5.2%;
			padding-right: 7%;
		}

		.serivcetext h3 {
			font-size: 35px;
			font-weight: 800;
			line-height: 40px;
		}

		img.img-fluid.footerphone2 {
			position: relative;
			left: 235px;
			bottom: -25px;
			display: block;
		}
		.socialmedia ul li {
			list-style: none;
			display: inline-block;
			padding: 0;
		}
		.socialmedia ul li img {
			width: 25px;
		}

		/* About us page */
		section.our_teams {
			display: block;
			background: #C9EEFC;
			padding: 100px 0px;
			overflow: hidden;
		}
		.rightshape img {
			width: 360px;
			position: absolute;
			right: -175px;
		}
		/* Service page */
		.stepbox1 {
			background: #0FB3F1;
			padding: 30px;
			margin: 160px 0px;
			color: white;
			border-radius: 15px;
		}
		.stepbox1 img {
			position: absolute;
			top: -125%;
			bottom: 0px;
			display: block;
			left: -10%;
		}
		.stepbox2 {
			background: black;
			padding: 30px;
			margin: 130px 0px;
			color: white;
			border-radius: 15px;
		}
		

	}
	/*Portrait*/ 
	/* Large screen */
	@media screen and (min-width: 1400px) {
		.container {
		  width: 1370px;
		  
		}
		section.our_teams {
			display: block;
			background: #C9EEFC;
			padding: 100px 0px;
			overflow: hidden;
		}
		.rightshape img {
			width: 400px;
			position: absolute;
			right: -310px;
		}
		.leftshape {
			display: flex;
			position: relative;
			left: -220px;
			bottom: 0px;
			top: -60px;
		}
	  }
	/* Large screen */
	  @media screen and (min-width: 1600px) {
		.container {
		  width: 1570px;
		}
		.background_img {
			background-image: url(../images/bg/BG@3x.png);
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			height: 745px;
			overflow: hidden;
		}
		.background_img:after {
			content: "";
			position: absolute;
			bottom: -100px;
			left: -9%;
			width: 120%;
			height: 263px;
			background: #ffffff;
			-webkit-transform: rotate(-3deg);
			-ms-transform: rotate(-3deg);
			transform: rotate(-7deg);
		}
		.sideimg {
			position: absolute;
			top: -6px;
			z-index: 9999;
			bottom: 0px;
			display: table;
			left: -70px;
		}
		.sideimg img {
			width: 460px;
		}
		.serivcetext {
			padding-left: 18.2%;
			padding-right: 5%;
		}

		/* About us page */
		.rightshape img {
			width: 400px;
			position: absolute;
			right: -415px;
		}
		.leftshape img {
			width: 400px;
			position: absolute;
			left: -180px;
		}




	  }

		/* Large screens ----------- */
		@media only screen  and (min-width : 1824px) {
		/* Styles */
			.sideimg img {
				width: 517px;
			}
			.background_img:after {
				content: "";
				position: absolute;
				bottom: -120px;
				left: -9%;
				width: 120%;
				height: 260px;
				background: #ffffff;
				-webkit-transform: rotate(-3deg);
				-ms-transform: rotate(-3deg);
				transform: rotate(-7deg);
			}
			.background_img {
				background-image: url(../images/bg/BG@3x.png);
				background-repeat: no-repeat;
				background-size: cover;
				position: relative;
				height: 760px;
				overflow: hidden;
			}
			.sideimg {
				position: absolute;
				top: 40px;
				z-index: 9999;
				bottom: 0px;
				display: table;
				left: -95px;
			}
			/* About page */
			.rightshape img {
				width: 400px;
				position: absolute;
				right: -530px;
			}
			.leftshape img {
				width: 400px;
				position: absolute;
				left: -285px;
			}
		}

			/* Large screen */
			@media screen and (min-width: 1900px) {
				.container {
				  width: 1870px;
				}
				.rightshape img {
					width: 400px;
					position: absolute;
					right: -580px;
				}
		
				.leftshape img {
					width: 400px;
					position: absolute;
					left: -345px;
				}
				
		
			  }
